@page
@model Frontend.Pages.CDeportista.DetailsModel
@{
   ViewData["Title"]= "Detalles Deportista";
}


<h2>Detalles Deportista</h2>


<div class="form-horizontal">
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post">


                <div class="form-group">
                    <label asp-for="Deportista.Documento" class="control-label"> </label>
                    <input asp-for="Deportista.Documento" class="form-control" readonly />                    
                </div>

                <div class="form-group">
                    <label asp-for="Deportista.Nombre" class="control-label"> </label>
                    <input asp-for="Deportista.Nombre" class="form-control" readonly/>                    
                </div>

                <div class="form-group">
                    <label asp-for="Deportista.Apellidos" class="control-label"> </label>
                    <input asp-for="Deportista.Apellidos" class="form-control" readonly />                    
                </div>
                <div class="form-group">
                    <label asp-for="Deportista.Genero" class="control-label"> </label>
                    <input asp-for="Deportista.Genero" class="form-control" readonly />                    
                </div>
                <div class="form-group">
                    <label asp-for="Deportista.Modalidad" class="control-label"> </label>
                    <input asp-for="Deportista.Modalidad" class="form-control" readonly />                    
                </div>
                <div class="form-group">
                    <label asp-for="Deportista.FechaNacimiento" class="control-label"> </label>
                    <input asp-for="Deportista.FechaNacimiento" class="form-control" readonly />                    
                </div>
                <div class="form-group">
                    <label asp-for="Deportista.Rh" class="control-label"> </label>
                    <input asp-for="Deportista.Rh" class="form-control" readonly />                    
                </div>
                <div class="form-group">
                    <label asp-for="Deportista.EPS" class="control-label"> </label>
                    <input asp-for="Deportista.EPS" class="form-control" readonly />                    
                </div>

                <div class="form-group">
                    <label asp-for="Deportista.Celular" class="control-label"> </label>
                    <input asp-for="Deportista.Celular" class="form-control" readonly />                    
                </div>
                <div class="form-group">
                    <label asp-for="Deportista.Correo" class="control-label"> </label>
                    <input asp-for="Deportista.Correo" class="form-control" readonly />                    
                </div>
                
                <div class="form-group">
                    <a asp-page="Index" class="btn btn-info">Inicio</a>
                </div>

            </form>
        </div>
    </div>
</div>




