@page
@model Frontend.Pages.CColegio.DetailsModel
@{
    ViewData["Title"]= "Detalles Colegio";
}

<h2>Detalles Colegio</h2>

<div class="form-horizontal">
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post">

                <div class="form-group">
                    <label asp-for="Colegio.Nit" class="control-label"> </label>
                    <input asp-for="Colegio.Nit" class="form-control" readonly />                    
                </div>

                <div class="form-group">
                    <label asp-for="Colegio.RazonSocial" class="control-label"> </label>
                    <input asp-for="Colegio.RazonSocial" class="form-control" readonly/>                    
                </div>

                <div class="form-group">
                    <label asp-for="Colegio.Direccion" class="control-label"> </label>
                    <input asp-for="Colegio.Direccion" class="form-control" readonly />                    
                </div>

                 <div class="form-group">
                    <label asp-for="Colegio.Telefono" class="control-label"> </label>
                    <input asp-for="Colegio.Telefono" class="form-control" readonly />                    
                </div>
                
                 <div class="form-group">
                    <label asp-for="Colegio.Licencia" class="control-label"> </label>
                    <input asp-for="Colegio.Licencia" class="form-control" readonly />                    
                </div>

                 <div class="form-group">
                    <label asp-for="Colegio.Modalidad" class="control-label"> </label>
                    <input asp-for="Colegio.Modalidad" class="form-control" readonly />                    
                </div>
                
                <div class="form-group">
                    <a asp-page="Index" class="btn btn-info">Inicio</a>
                </div>

            </form>
        </div>
    </div>
</div>

