@page
@model Frontend.Pages.CTorneoEquipo.IndexModel
@{
 ViewData["Title"]="Index Inscribir Equipo";
}

<h1>Equipos Por Torneo</h1>
    <p>
        <a asp-page="Create" class="btn btn-success">Inscribir Equipo en Torneo</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Torneo</th>
                <th>Equipo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tequ in Model.TorneoEquiposV)
            {
                <tr>
                    <td>@tequ.Torneo</td>
                    <td>@tequ.Equipo</td>
                    <td>                      
                        <a asp-page="./Delete" class="btn btn-danger" asp-route-idT="@tequ.TorneoId"  asp-route-idE="@tequ.EquipoId">Delete</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>


