@page
@model Frontend.Pages.CArbitro.DeleteModel
@{
      ViewData["Titulo"]= "Eliminar Arbitro";

}

<h2>@ViewData["Titulo"]</h2>
<h3 class="text-danger">Esta seguro de Eliminar este registro?</h3>
<h3 class="text-danger">@ViewData["Error"]</h3>

<div class="form-horizontal">
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Arbitro.Id"/>

                <div class="form-group">
                    <label asp-for="Arbitro.Nombre" class="control-label"></label>
                    <input asp-for="Arbitro.Nombre" class="form-control" readonly/>
                    <span asp-validation-for="Arbitro.Nombre" class="text-danger"></span>
                </div>

                 <div class="form-group">
                    <label asp-for="Arbitro.Documento" class="control-label"></label>
                    <input asp-for="Arbitro.Documento" class="form-control" readonly/>
                    <span asp-validation-for="Arbitro.Documento" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Arbitro.Apellidos" class="control-label"></label>
                    <input asp-for="Arbitro.Apellidos" class="form-control" readonly/>
                    <span asp-validation-for="Arbitro.Apellidos" class="text-danger"></span>
                </div>

                 <div class="form-group">
                    <label asp-for="Arbitro.Modalidad" class="control-label"></label>
                    <input asp-for="Arbitro.Modalidad" class="form-control" readonly/>
                    <span asp-validation-for="Arbitro.Modalidad" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Arbitro.Rh" class="control-label"></label>
                    <input asp-for="Arbitro.Rh" class="form-control" readonly/>
                    <span asp-validation-for="Arbitro.Rh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Arbitro.Celular" class="control-label"></label>
                    <input asp-for="Arbitro.Celular" class="form-control" readonly/>
                    <span asp-validation-for="Arbitro.Celular" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Colegio.RazonSocial" class="control-label"></label>
                    <input asp-for="Colegio.RazonSocial" class="form-control" readonly />                       
                    <span asp-validation-for="Arbitro.ColegioId" class="text-danger"></span>
                </div>                

                <div class="form-group">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a asp-page="Index" class="btn btn-info">Cancelar</a>
                </div>
            </form>
        </div>
    </div>    
</div>
